{% load static %} <!-- загружаем папку статик -->

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{% static 'GoogleSheetsCBR/dollar-svgrepo-com.svg' %}">
        <title>GoogleAPI Sheets CBR</title>
    </head>

    <body>
    <div id="start"></div>
    <div class="container">
        <form class="col" method="POST" action="{% url 'home' %}">
            <div class="row">

                <div class="col-lg-2 text-center">
                    {% csrf_token %}
                    <label for="sorts_Model"><b>Сортировать по:</b></label>
                    <select class="form-control form-control" name="sorts_Model"
                            id="sorts_Model">
                        <option class="text-center">{{ select }}</option>
                        <option class="text-center">№</option>
                        <option class="text-center">Заказ, №</option>
                        <option class="text-center">Стоимость</option>
                        <option class="text-center">Cрок поставки</option>
                    </select>
                </div>
                <div class="col-lg-2 text-center align-self-end">
                    <select class="form-control form-control" name="ASC_DESK_Model"
                            id="ASC_DESK_Model">
                        <option class="text-center">{{ ASC_DESK_data }}</option>
                        <option class="text-center">возрастанию</option>
                        <option class="text-center">убыванию</option>
                    </select>

                </div>

                <div class="col align-self-end">
                    <button type="submit" class="btn btn-primary" >Обновить</button>
                </div>

                <div class="col-lg-4 align-self-end">
                    <b> Курс доллара США на {{ now }} <font color="green">{{ usd }} руб.</font><b>
                </div>
            </div>
        </form>


    </div>








    <br>
    <br>
    <div class="container justify-content-center">
        <table class="table table-primary table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">№</th>
                    <th scope="col" class="text-center">Заказ, №</th>
                    <th scope="col" class="text-center">Стоимость, $</th>
                    <th scope="col" class="text-center">Стоимость, руб.</th>
                    <th scope="col" class="text-center">Срок поставки</th>
                </tr>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for td in row %}
                                <td class="text-center">{{ td }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>


        <!-- стрелка для прокрутки страницы вверх -->
        <div class = "fixed-bottom" style="margin-right: 16px; margin-bottom: 24px;">
            <div class= "d-flex justify-content-end">
                <a href = "#start"> <img src = "{% static 'GoogleSheetsCBR/up-arrow-svgrepo-com.svg' %}" title="вверх" width="50" height="50"> </a>
            </div>
        </div>

        <br>
        <hr>
            <p class="text-opacity-25 fw-lighter text-muted text-center ">Server version: {{ cursor }} </p>
        <br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


    </body>

</html>









